APP_ENV=development
APP_NAME=agentic-healthcare-insurance-platform

AWS_REGION=us-east-1

OPENAI_API_KEY=

S3_BUCKET_NAME=
OPENSEARCH_ENDPOINT=
DYNAMODB_TABLE_NAME=
AURORA_DATABASE_URL=

OTEL_SERVICE_NAME=healthcare-insurance-agent
